<h1>This is demo3</h1>
<table border="2px">
    <tr>
        <td>ID</td>
        <td>EMAIL</td>
        <td>NAME</td>
        <td>PLACE</td>
        <td>AGE</td>
    </tr>
    <tr>
        <td> <%= person.id%> </td>
        <td><%= person.email%></td>
        <td><%= person.name%></td>
        <td><%= person.place%></td>
        <td><%= person.age%></td>
    </tr>
</table>